@model IEnumerable<BanVeMayBay.Models.VeBan>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Sân bay
            </th>
            <th>
                Giá vé
            </th>
            <th>
                Thanh toán
            </th>
            <th>
                Guid
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Site)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GiaVe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TongTienThanhToan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rowguid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaVe">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaVe">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaVe">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
